<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">DRM</a>
    
    <!-- Toggle Button for Smaller Screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Centered Nav Links -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Store</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>

      <!-- Right Side - Username and Logout Icon -->
      {% if user.is_authenticated %}
      <div class="d-flex align-items-center">
        <a href="{% url 'profile' %}" class="btn btn-secondary me-3" style="font-weight: bold; color: white;">
            Welcome, {{ user.username }}!
        </a>
        <a href="{% url 'logout' %}" class="btn btn-danger">
            <i class="bi bi-box-arrow-right"></i> <!-- Bootstrap icon for logout -->
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>
